@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(img/bg_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.receta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.main-section {
    width: 80%;
    margin: 65px auto;
    background-color: rgb(248, 162, 100);
    border: 2px solid black;
    border-radius: 30px;
}

.main-section .container {
    padding: 50px 30px;
}

.main-section .container .head {
    font-family: 'Tilt Prism', cursive;
    color: rgb(0, 0, 0);
    font-style: italic;
    margin: 0 20%;
}

.main-section .container .head h1 {
    font-size: 2.7em;
    text-shadow: 2px 2px 5px rgb(19, 62, 233);
}

.main-section .container hr {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}

.main-section .container img {
    border: 12px solid rgb(255, 255, 255);
    margin-left: 80px;
    width: 85%;
    height: auto;
    border-radius: 35px;
}

@media screen and (max-width:1600px) {
    .main-section .container .head {
        margin: 0 14%;
    }

    .main-section .container .head h1 {
        font-size: 2.3em;
    }

    .main-section .container hr {
        margin-left: 6%;
    }

    .main-section .container img {
        margin-left: 70px;
        width: 85%;
    }
}

@media screen and (max-width:1024px) {
    .main-section .container {
        padding: 30px 7px;
    }

    .main-section .container .head {
        margin: 0 10%;
    }

    .main-section .container .head h1 {
        font-size: 2em;
    }

    .main-section .container hr {
        margin-left: 6%;
    }

    .main-section .container img {
        margin-left: 55px;
        width: 85%;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:480) {}

ul.a {
    list-style-type: square;
}

ul.b {
    list-style-type: lower-alpha;
}